<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1><br>

    <form action="/login" method="POST">
        <label for="username">Username</label><br>
        <input type="text" name="username" placeholder="insert your username" required><br><br>

        <label for="password">Password</label><br>
        <input type="password" name="password" placeholder="insert your password" required><br><br>

        <button type="submit">Login</button>
    </form>
</body>
</html>