<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1><br>

    <form action="/regiser" method="POST">
        <label for="username">Username</label><br>
        <input type="text" name="username" id="username" placeholder="insert your username" required/><br><br>

        <label for="password">Password</label><br>
        <input type="password" name="password" id="password" placeholder="insert your password" required/><br><br>

        <label for="name">Name</label><br>
        <input type="text" name="name" id="name" placeholder="insert your name" required/><br><br>

        <label for="phone">Phone</label><br>
        <input type="text" name="phone" id="phone" placeholder="insert your phone" required/><br><br>

        <label for="address">Address</label><br>
        <input type="text" name="address" id="address" placeholder="insert your address" required/><br><br>

        <button type="submit">Register</button>
    </form>
</body>
</html>